.center {
	display: flex;
	justify-content: center;
	align-items: center;
}

.margin {
	margin-top: 5%;
}

.text-shadow {
	text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
}

.hr {
	border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.blue-background {
	background-color: #007FFF;
}